<!DOCTYPE html>
<html>
    <head>
        <title>Game Home</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/global_styles.css">
        <link rel="stylesheet" href="/table_styles.css">
    </head>
    <body>
        <h2>Game Home</h2>
		<form method="post" action="/randomplay" target="_self">
  			<button type="submit">Play Round</button>
		</form>
		<form method="post" action="/playrock" target="_self">
  			<button type="submit">Play Round Selecting Rock</button>
		</form>
		<form method="post" action="/restartgame" target="_self">
  			<button type="submit">Restart Game</button>
		</form>
 		<form method="get" action="/statics" target="_self">
  			<button type="submit">Go to Statics</button>
		</form>
		<p>
			<label for="playedRounds">Played Rounds</label>
			<input id="playedRounds" name="playedRounds" value="${statics.playedRounds}"  readonly="true"/>
	        <table class="responstable">
	            <tr>
	            	<th></th>
	                <th>Player 1</th>
	                <th>Player 2</th>
	                <th>Round's Result</th>
	            </tr>
				<#if (statics.matchList?size != 0)>
		            <#list statics.matchList as match >
		            	
		                <tr>
		                	<td>${match?index}</td>
		                    <td>${match.player1}</td>
		                    <td>${match.player2}</td>
		                    <td>${match.result}</td>
		                </tr>
	
		            </#list>
		         <#else>
	   	        	<tr>
	   	        		<td colspan="4">
	            		 Empty list
	            		 </td>
	            	</tr>
	            </#if>
	
	        </table>
		</p>
    </body>
</html>